/* */

body {
	font-family: Verdana,Helvetica,sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.date {
	color: #666666;
}

.navicolor {
	background: #eeeeee;
}

.contents {
	margin-left: 8px;
	margin-right: 8px;
}

a:link {
	color: #4460ed;
	text-decoration: none;
}
a:visited {
	color: #7a4fa4;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	background: #dddddd;
}
a:active {
	color: #f4913a;
	text-decoration: none;
}

a.toplink:link {
	font-weight: bold;
	text-decoration: none;
}
a.toplink:visited {
	font-weight: bold;
	text-decoration: none;
}

/* don't hover on the kst logo */
a.logo:hover {
	background: inherit;
}

.webmaster {
	font-size: 10px;
	margin-right: 5px;
}

.navi {
	margin-right: 5px;	/* TODO: ignored by konqueror? */
}
